body{
/*     height: 100vh;
    width: 100%; */
    margin: 0 auto;
    background-image: url("../../Content/Images/teste1.jpg");
    background-position:center;
    background-size:inherit;
    background-repeat:no-repeat;
    border-color:white;
    background-attachment: fixed;
}
/* 
#Nav {
    height: 100vh;
    background-image: url("../../Content/Images/Fundo.png");
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-color:white;
} */

#UlColor li a {
    color: white;
}

#logo {
    height: 75px;
    width: 75px;
}

#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
     background-color: burlywood; 
    text-align: right;
  }

#MiddlePage {
 /*    height: 100vh; */
    
/*     background-image: url("../../Content/Images/teste1.jpg"); */
/*     background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-color:white; */
} 

#navbarSupportedContent li {

}
.Title {
    text-align: center;
    color: white;
}

.hidden {
    display: none;
}

#DivVideos {
    /* display: flex; */
    /* margin: 0 auto; */
}
#DivVideos iframe {
    border: 0;
}
.MePhoto {
    margin-left: auto;margin-right: auto;display: flex;
    margin-top: 2%;
}
.Players {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
/* 
#AllPlayersclass .row{
    margin-right: -130px;
    margin-left: 50px;
} */
.ImgContainer {
    margin: 0 auto;
    height: 100px;
    width: 100px;
}
  
.Name {
    font-style: italic;
    font-weight: bold;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

.zoom {
    transition: transform .2s;
    /* margin: 0 auto; */
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.2); 
} 

.col-2.Players.zoom {
    cursor: pointer;
}

.col-2.Players.zoom div > h6 {
    font-style: italic;
    font-weight: bold;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    text-align: center;
}

.card-body.row > h6{
    font-style: italic;
    font-weight: bold;
    font-family: "Lucida Console", Monaco, monospace;
}
.card-header.bg-dark.text-light {
    font-style: italic;
}

@media only screen and (max-width: 768px){
    #DivVideos {
        /* margin-left: 5%; */
        text-align: center;
    }
}

@media only screen and (max-width: 320px){
    #DivVideos {
        /* margin-left: 5%; */
        
    }
}

@media only screen and (max-width: 992px) and (min-width:768px){
    #DivVideos > div > iframe{
        height: 100%;
        width: 100%;
    }

    #DivVideos > div {
        margin-bottom:5px;
    }
} 

@media only screen and (max-width: 768px) {
    #DivMedia > .MePhoto{
        height: 64px;
        width: 64px;
    }
}
/** bandeira do jogador por cada eequipa not working*/
@media only screen and (max-width: 1200px) {
    #SinglePlayer > MainCardSinglePlayer > .card.border-dark > .card-footer > img.card-img-top{
        margin-left: 5000000%;
    }
}

@media only screen and (max-width: 992px) {
    .card-footer > img{
        margin-left: 35%;
    }
}

@media only screen and (max-width: 576px) {
    div.card-body.row{
       display: block;
    }
}

@media only screen and (max-width: 768px) {
    .card-footer > img{
        margin-left: 35%;
    }
}

@media only screen and (max-width: 330px) {
    #AllPlayers {
        margin-bottom: 30%;
    }
}

@media only screen and (max-width: 960px) {
    .card-body.row  h6{
        font-size: 12px;
    }
    .card-body.row  h4{
        font-size: 16px;
    }
}


@media only screen and (max-width: 576px) {
    .card-body.row  h6{
        font-size: 20px;
    }
    .card-body.row  h4{
        font-size: 28px;
    }
}

@media only screen and (max-width: 768px) {
    #AllTeams {
        margin-bottom: 15%;
    }
}

@media only screen and (max-width: 330px) {
    #AllTeams {
        margin-bottom: 30%;
    }
}

@media only screen and (max-width: 768px) {
    #SinglePlayer {
        margin-bottom: 30%;
    }
}
 
@media only screen and (max-width: 330px) {
    #SinglePlayer {
        margin-bottom: 45%;
    }
}





/* 
margin-bottom: 35%; */
/********/