body{
    height: 100vh;
    width: 100%;
}

#logo {
    height: 75px;
    width: 75px;
}
.footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #343a40;
    text-align: right;
  }

#MiddlePage {
    background-image: url("../../Content/Images/Fundo.png");
    height: 100vh;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    border-color:white;
}